.footer{
  background: linear-gradient(to right,#2a2b2b, #950b0b, #10cab7);
  color: white;
  padding: 8px 10px;
  text-align: center;
  font-size: 14px;

    span{
      font-weight: bold;
    color: #10cab7;
    }
}
